#opening{
    display:flex;
    position: absolute;
    z-index:2;
    width:100%;
    height:850px;
    /* ボックスの大きさを指定 */
}

#opening span{
    left:50%;
    height:50%;
}
body{
     margin:0px;
     vertical-align: bottom;
     background-color:#EEEEEE;
 }

 h1{
     margin:0;
    
 }
 
 #gazou1{
     position:relative;
 }

 #gazou1 span{
     position:absolute;
     left:50%;
     transform: translate(-50%,-50%);
     font-weight:bold;
     color:white;
     font-family: 'Oswald', sans-serif;

 }

 /* .fixed{
     position: fixed;
     padding-top:0.5%;
     top: 0;
     left: 0;
     right: 0;
     width: 1170px;
 } */

 nav {
    transition: .3s;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#EEEEEE;
    
  }
  .is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    filter: drop-shadow(10px 20px 10px rgba(0,0,0,0.1));
  }
  .is-hide {
    transform: translateY(-100%);
  }

 #global-nav {
    position: static;
    /* positionに置いて、なんの個性もない状態をさす。ザ普通と行った感じ。 */
    top: -30px;
    transition: all 0.3s ease 0s;
  }
  
  #global-nav.m_fixed {
    position: fixed;
    top: 0;
  }

  #fixed img{
      width:20%;
      margin-right:10px;
  }

  #flex{
      display:inline-block;
  }

 .pk{
    top:50%;
    font-size: 2em;
 }

 .pt{
     top:25%;
 }

 img{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

ul{
    display:flex;
    justify-content: center;
    /* flexboxのスタイルの中で、左右中央寄せにしている */
    margin: 0px;
    list-style: none;
    /* ulの点をなくす */
}
ul li{
    padding:0 20px;
}

ul span{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:2em;
}

.logo2{
    display:flex;
    font-size: 3rem;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    /* ブロックの要素を中央揃えにしてくれる。   */
}

.logo2 img{
    width:48px;
    margin-right:15px;
}

h2{
    padding-top:80px;
}

.profile{
    display:flex;
    justify-content: center;
}

.profile img{
    width:17%;
    margin-right:50px;
}

.profile span{
    display:block;
    width:500px;
    height:240px;
    margin-left:50px;
    margin-bottom:40px;
}

.desk-skill{
    background-color:white;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:5%;
}

.naooo{
    display:flex;
    justify-content: center;
}

.ababa{
    display:flex;
    justify-content: center;
    margin-bottom:5%;
}

.ababa2{
    display:flex;
    justify-content: center;
}

table{
    width:100%;
}
th{
    width:20%;
}

th.haba{
    width:55%;
}

/* ↓星のコーディング。 */
.rating {
    line-height: 2;
    color: gold;
    font-size: 24px;
}

.rating input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.rating label {
    display: inline-block;
}

.rating input:focus + label {
    outline: 1px solid currentColor;
}

.rating input:checked + label ~ label {
    color: grey;
}
/* ↑星のコーディング。 */

.portfolio4{
    width:20%;
    height:20%;
   margin-left:1%;
   margin-right:1%;
    background-color:white;
    padding:3%;
}

.ababa2{
    display:flex;
    justify-content: center;
    margin-bottom:5%;
}

.taku{
    display:flex;
    justify-content:center;
}

.taku2{
   width:8%;
   margin-left:auto;
   margin-right:auto;
   padding-top:5%;
}

.taku2 a{
    margin-left:25%;
}

.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    /* →文章に対して、ボーダーを引くためのコード */
    display: none;
    /* →読み込まれてはいるけど、非表示にしている。 */
    position: fixed;
    /* →位置を固定する。 */
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
    line-height: 3.3rem;
    /* →行間を設定するためのコード */
    border-radius: 3.3rem;
    /* →ボックスの角を丸くさせる。 */
    text-align: center;
    /* ボックスを中央寄せさせる。 */
    cursor: pointer;
    /* →カーソルの形を変更 */
}

footer{
    margin-bottom:3%;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}

.saigo{
    font-size:0.8rem;
    color:grey;
    text-align: right;
    margin-right:10%;
}

.saigou a{
    display:flex;
    justify-content:center;
    font-size:small;
    margin-top:15%;
}

/* スタイルの状態変化を「my-fade-in」という名前で定義 */
@keyframes my-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {  
    /* .boxが「my-fade-in」で状態変化するように指定 */
    animation-name:     my-fade-in;
    animation-duration: 3s;
  }

  @media(max-width: 1306px){
      .pk{
          font-size:2.5rem;
      }

      #flex{
          font-size:60%;
      }
      .taku{
        flex-direction: wrap;
        /* flex-direction:子要素を折り返しにする。 */
        /* row（初期値）… 子要素を左から右に配置 */
      }
  }

  @media(max-width: 890px){
      .pk{
          font-size:1.5rem;
      }
      .logo2{
          font-size:1.8rem;
      }
      .logo2 img{
          width:35px;
          margin-right: 10px;
      }
      .desk-skill{
          margin:0px;
          width:100%;
      }
  }

  @media(max-width:650px){
      #flex{
          font-size:44%;
      }
      .logo2 img{
        width:25px;
        margin-right: 10px;
    }
    th.haba{
        width:20%;
    }
  }